<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8"/>
    <title>Swagger Markup</title>

    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'/>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

</head>

<body class="container" ng-app="jsaUploadFileApp">

<div class="container" ng-controller="uploadFileController">
    <div class="col-md-8 col-md-offset-2">
        <h3>File Input Example</h3>
       <!-- <form class="form-horizontal">
            &lt;!&ndash; COMPONENT START &ndash;&gt;
            <div class="form-group">
                <label class="control-label col-sm-2" for="uploadfile">Upload File:</label>
                <div class="input-group input-file" name="Fichier1">
                    <input type="text" class="form-control" placeholder='Choose a file...' />
                    <span class="input-group-btn">
        		<input class="form-control" type="file" file-model = "uploadedFile" placeholder="Upload File"></input>
    		</span>


                </div>
            </div>
            &lt;!&ndash; COMPONENT END &ndash;&gt;
            <div class="form-group">
                <button type="submit" class="btn btn-primary pull-right" ng-click = "doUploadFile()">Submit</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </div>
        </form>-->
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="uploadfile">Upload File:</label>

                <div class="col-sm-5">
                    <input class="form-control" type="file" file-model = "uploadedFile" placeholder="Upload File"></input>
                </div>
            </div>

            <!--<div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click = "doUploadFile()">Upload</button>
                </div>
            </div>-->
            <div class="form-group">
                <button type="submit" class="btn btn-primary pull-right" ng-click = "doUploadFile()">Submit</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </div>


            <div ng-controller="getFilesController">
                <div class="col-sm-offset-2">
                    <button type="button" class="btn btn-primary btn-block" ng-click="doGetFiles()">Get Files</button>
                </div>
                <hr/>
                <div class="col-sm-offset-2" ng-model="lstFiles">
                    <ul>
                        <li ng-repeat="file in lstFiles"><a href='{{file}}'>{{file}}</a></li>
                    </ul>
                </div>
            </div>

        </form>
    </div>
</div>

<script src="/js/jsaApp.js"></script>
<script src="/js/uploadFileCtrl.js"></script>
<script src="/js/getFilesCtrl.js"></script>


<script src='http://code.jquery.com/jquery-1.11.3.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>

<script  src="js/index.js"></script>


</body>
</html>
